<table class="table mt-2">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Duration</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description.Truncate(50)</td>
                <td>@item.Duration</td>
                <td>@item.Thumbnail</td>
                <td>
                    <div class="d-flex me-1 justify-content-end">
                        <button class="btn btn-outline-primary rounded-0 me-1" @onclick="@(() => OnClick.InvokeAsync(new ClickModel(PageType.Edit, item.Id)))">Edit</button>
                        <button class="btn btn-outline-danger rounded-0" @onclick="@(() => OnClick.InvokeAsync(new ClickModel(PageType.Delete, item.Id)))">Delete</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<VideoDTO> Model { get; set; } = new();
    [Parameter]
    public EventCallback<ClickModel> OnClick { get; set; }
}

@code {

}